extends ./layouts/head.pug
block vars
	- navSelected = 'discounts'
block content 
	h1.title Discounts
	.section.content
		h2 Gradual dicounts - 
			span.subtitle Good for building a habit
		hr
		if (gradualActive)
			.field
				span.has-text-success Gradual Discounts are Active     
				a.button.is-small.is-danger(href='/dashboard/disable_gradual_discounts') Stop
		else 
			.field
				span Gradual Discounts are Inactive
		form#gradual_discounts(action="gradual_discounts/" method='POST')
			table
				thead
					tr
						th Time
						th Percentage
						th Number
				tbody
					tr
						td 1st time
						td 
							input(type="number" name="discounts[0][percentage]" value=(gradualDiscounts[0]||{}).percentage).input
						td
							input(type="number" name="discounts[0][number]" value=(gradualDiscounts[0]||{}).number).input
					tr
						td 2nd time
						td 
							input(type="number" name="discounts[1][percentage]" value=(gradualDiscounts[1]||{}).percentage).input
						td
							input(type="number" name="discounts[1][number]" value=(gradualDiscounts[1]||{}).number).input
					tr
						td Third time
						td 
							input(type="number" name="discounts[2][percentage]" value=(gradualDiscounts[2]||{}).percentage).input
						td
							input(type="number" name="discounts[2][number]" value=(gradualDiscounts[2]||{}).number).input
					tr
						td Fourth time
						td 
							input(type="number" name="discounts[3][percentage]" value=(gradualDiscounts[3]||{}).percentage).input
						td
							input(type="number" name="discounts[3][number]" value=(gradualDiscounts[3]||{}).number).input
					tr
						td Five time
						td 
							input(type="number" name="discounts[4][percentage]" value=(gradualDiscounts[4]||{}).percentage).input
						td
							input(type="number" name="discounts[4][number]" value=(gradualDiscounts[4]||{}).number).input
			.field
				label.checkbox
					input(type="checkbox" name="shouldReset" checked=shouldReset)
					| Reset after certain amount of time? (Good for automatically making offer more attractive to those who haven't used in a while)
			.field
				select#expiry(name="resetAfterDays").select
					option(value="7" selected=resetAfterDays=="7") 7 Days
					option(value="14" selected=resetAfterDays=="14") 1 week
					option(value="30" selected=resetAfterDays=="30") 1 Month
					option(value="90" selected=resetAfterDays=="90") 3 Months
					option(value="180" selected=resetAfterDays=="180") 6 Months

			.field.is-grouped
				.control
					input(type="submit" value='Update Discount').button.is-link
				.control
					a(href="/").button.is-normal Print this


		
	.section.content
		h2 Custom dicount - 
			span.subtitle Good for standing out
		hr
		if (customActive)
			.field
				span.has-text-success Custom Discount is active     
				a.button.is-small.is-danger(href='/dashboard/disable_custom_discount') Stop
		else
			.field
				span Custom Discount is Inactive     

		form(action="custom_discount/" method='POST')
			.field
				.control
					.label Text to show
					input.input(type="text" placeholder='Example: Free pizza after 6pm!')

			input(type="submit" value='Update Discount').button.is-link

append body
	script(src='/js/discounts.js')